@import url(//fonts.googleapis.com/css?family=Fredoka+One);
@import url(//fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap);

$primary: #375d84;
$secondary: #eb7724;
$light: #fff;
$body-bg: #ffd89f;
$fun: #ec008c;
$light-blue: #8bb2ff;

$theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'light': $light,
);

$custom-colors: (
        'fun': $fun,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$headings-font-family: "Fredoka One";
$headings-color: $light-blue;
$headings-font-weight: 400;

$font-family-base: "Bellota Text";
$font-weight-base: 500;
$font-size-root: 20px;
